{{ ansible_managed|comment }}

[Unit]
Description=system configuration upgrade
 
[Timer]
{{ ansible_pull_timer }}
Unit=ansible-pull.service
Persistent=true
 
[Install]
WantedBy=multi-user.target
